.headlines__title {
    font-family: 'inter-black';
    align-self: center;
    text-align: center;
    margin: 0 auto;
    font-size: 96px;
    line-height: 100px;
    max-width: 720px;
    padding-top: 56px;
}