.places__title {
    font-family: 'inter-black';
    font-size: 72px;
    line-height: 76px;
    margin: 0;
    grid-area: title;
}

@media (max-width: 1023px) {
    .places__title {
        font-size: 42px;
        line-height: 46px;
    }
}
@media (max-width: 767x) {
    .places__title {
        font-size: 32px;
        line-height: 35px;
    }
}