.header {
    box-sizing: border-box;
    width: calc(1280px - 96px);
    margin: 0 auto;
    padding-top: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1280px) {
    .header {
        width: calc(1024px - 96px);
    }
}