.cover__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    background-position: cover;
    z-index: 10;
    opacity: .3;
    transition: opacity .2s;
}

.cover:hover .cover__overlay {
    opacity: .8;
}