.places__item {
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    gap: 48px 40px;
    grid-template-areas:
        "title url"
        "image descr";
    margin-top: 80px;
}

@media (max-width: 1279px) {
    .places__item {
        grid-template-columns: 440px 1fr;
    }
}